{% extends './base.html' %}
{% block title %}Dashboard{% endblock %}
{% block Dashboard %}active{% endblock %}
{% block content %}
{% load static %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
        </nav>
      
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                {% if user.is_authenticated %}
                <span class="d-sm-inline d-none">{{user.username}}</span>
                {% endif %}
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="{% url 'logout' %}" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-sign-out me-sm-1"></i>
              </a>
            </li>
        
            
            
                
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Recette</p>
                    <h5 class="font-weight-bolder">
                      {{num_recettes}}
                    </h5>
                  
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Visiteur</p>
                    <h5 class="font-weight-bolder">
                      {{ access_count }}
                    </h5>
                   
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Utilisateur</p>
                    <h5 class="font-weight-bolder">
                      {{ num_visiteur_users }}
                    </h5>
                   
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="fa fa-pencil-square-o text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Nouveaux utilisateurs
              </h6>
              {% for user in new_users %}

              <div class="card-body pt-4 p-3">
                <ul class="list-group">
                  <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">{{user.first_name}} {{user.last_name}}</h6>
                <span class="mb-2 text-xs">Nom d'utilisateur: <span class="text-dark font-weight-bold ms-sm-2">{{ user.username }}</span></span>
                <span class="mb-2 text-xs">Email : <span class="text-dark ms-sm-2 font-weight-bold">{{ user.email }}</span></span>
                <span class="mb-2 text-xs">Date de s'inscrire : <span class="text-dark ms-sm-2 font-weight-bold">{{ user.date_joined }}</span></span>

              </div>
                  </li>
                </ul>
              </div>
              {%empty%}
              <div class="card-body pt-4 p-3">
                <ul class="list-group">
                  <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h2 class="mb-3 text-sm text-danger">Pas d'utilisateur Aujourd'huit :(</h2>
              </div>
                  </li>
                </ul>
              </div>
              {%endfor%}


            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
            <div class="card-header pb-0 p-3">
              <h4 class="mb-0">Recette mieu notée</h4>
            </div>
            {% if highest_rated_recette %}
            <div class="my-3 mx-2">
            <img src="{% if highest_rated_recette.image == '' %}{{highest_rated_recette.image_manual}}{%else%}{{ highest_rated_recette.image }}{%endif%}" width="90%"  alt="img-blur-shadow" class="img-fluid shadow border-radius-xl mx-2">
            <div class="card-body px-1 pb-0 mx-2">
              <p class="text-gradient text-dark mb-2 text-sm">{{ highest_rated_recette.categorie }}</p>
              <a href="javascript:;">
                <h5>
                  {{ highest_rated_recette.nom_recette }}
                </h5>
              </a>
            </div>
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
    
        </div>
      </div>
{%endblock%}