<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chef Delice | Home-Page </title>
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" >
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'cssvisitor/main.css' %}" />
  <script src="{% static 'jsvisitor/uikit.js' %}"></script>
</head>

<body>

<nav class="uk-navbar-container uk-letter-spacing-small">
  <div class="uk-container">
    <div class="uk-position-z-index" data-uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="index.html">Chef Delice</a>
        <ul class="uk-navbar-nav uk-visible@m uk-margin-large-left">
           <li ><a href="/index">Home</a></li>
          <li ><a href="/search">Search</a></li>
          {% if user.is_authenticated %}
          <li ><a href="/favorite">Mes Favorites</a></li>
          {%endif%}
          <li class="uk-active"><a href="/contact">Share Your Recipe</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
          {% if user.is_authenticated %}
          <div><a class="uk-button uk-button-primary" href="#"><span uk-icon="user" ></span>{{ user.username }}</a></div>
        <div><a class="uk-button uk-button-primary" href="/logout"><span uk-icon="sign-out" ></span>Logout</a></div>
        {%else%}
        <div class="uk-navbar-item">
          <div><a class="uk-button uk-button-primary" href="/login">Login</a></div>
        </div>
          {%endif%}
        <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
          data-uk-navbar-toggle-icon></span></a>
      </div>
    </div>
  </div>
</nav>

<div class="uk-section uk-section-default uk-padding-remove-top">
  <div class="uk-container">
    <div class="uk-grid-large" data-uk-grid>

      <div class="uk-width-2-2@m">
        <div class="uk-background-primary uk-border-rounded-large uk-light uk-padding uk-margin-top">
          <form class="uk-form-stacked" method="post" action="{% url 'add_recetteclient' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="uk-margin-bottom">
              <label class="uk-form-label" for="name">Nom de Plat :</label>
              <div class="uk-form-controls">
                <input id="name" class="uk-input uk-border-pill" name="title" type="text" required>
              </div>
            </div>
            <div class="uk-margin-bottom">
              <label class="uk-form-label" for="">Categorie</label>
              <div class="uk-form-controls">
                  <select class="uk-select uk-border-pill" name="categorie" required>
                    <option value="1">Entrée</option>
                    <option value="2">Plat</option>
                    <option value="3">Desert</option>
                  </select>
              </div>
            </div>
            <div class="uk-margin-bottom">
              <label class="uk-form-label" for="message">Ingredient :</label>
              <div class="uk-form-controls">
                <textarea id="message" class="uk-textarea uk-border-rounded-large" name="ingredient" rows="5"  required></textarea>
              </div>
            </div>
            <div class="uk-margin-bottom">
              <label class="uk-form-label" for="description">Description :</label>
              <div class="uk-form-controls">
                <textarea id="description" class="uk-textarea uk-border-rounded-large" name="description" rows="5"  required></textarea>
              </div>
            </div>
            <div class="uk-margin-bottom">
              <label class="uk-form-label" for="image">Recette Image : :</label>
              <div class="uk-form-controls">
                <div uk-form-custom="target: true" id="image">
                    <input type="file" name="image_manual" aria-label="Custom controls">
                    <input class="uk-input uk-form-width-large uk-border-rounded-large " type="text"  placeholder="Select file" aria-label="Custom controls" disabled>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <input class="uk-button uk-button-warning uk-border-pill" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>      
  </div>
</div>

<footer class="uk-section uk-section-default">
	<div class="uk-container uk-text-secondary uk-text-500">
		<div class="uk-child-width-1-2@s" data-uk-grid>
			<div>
				<a href="#" class="uk-logo">Chef Delice</a>
			</div>
			<div class="uk-flex uk-flex-middle uk-flex-right@s">
				<div data-uk-grid class="uk-child-width-auto uk-grid-small">
					<div>
						<a href="https://www.facebook.com/" data-uk-icon="icon: facebook; ratio: 0.8" class="uk-icon-button facebook" target="_blank"></a>
					</div>
					<div>
						<a href="https://www.instagram.com/" data-uk-icon="icon: instagram; ratio: 0.8" class="uk-icon-button instagram" target="_blank"></a>
					</div>
					<div>
						<a href="mailto:info@blacompany.com" data-uk-icon="icon: twitter; ratio: 0.8" class="uk-icon-button twitter" target="_blank"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="uk-margin-medium-top uk-text-small uk-text-muted">				
			<div>Made by  <a class="uk-link-muted" href="https://drifter.works/" target="_blank">Al Mastour & Boussouna & Maghfour</a> in Marrakech City.</div>
		</div>
	</div>
</footer>

<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar">
    <a class="uk-logo" href="index.html">Chef Delice</a>
    <button class="uk-offcanvas-close" type="button" data-uk-close="ratio: 1.2"></button>
    <ul class="uk-nav uk-nav-primary uk-nav-offcanvas uk-margin-medium-top uk-text-center">
      <li ><a href="index.html">Home</a></li>
      <li ><a href="recipe.html">Recipe</a></li>
      <li ><a href="search.html">Search</a></li>
      <li class="uk-active"><a href="contact.html">Contact</a></li>
      <li ><a href="sign-in.html">Sign In</a></li>
      <li ><a href="sign-up.html">Sign Up</a></li>
    </ul>
    <div class="uk-margin-medium-top">
      <a class="uk-button uk-width-1-1 uk-button-primary" href="sign-up.html">Sign Up</a>
    </div>
    <div class="uk-margin-medium-top uk-text-center">
      <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center">
        <div>
          <a href="https://twitter.com/" data-uk-icon="icon: twitter" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://www.facebook.com/" data-uk-icon="icon: facebook" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://www.instagram.com/" data-uk-icon="icon: instagram" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://vimeo.com/" data-uk-icon="icon: vimeo" class="uk-icon-link" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>